<!doctype html>
<html>
{% load static %}
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>sigue_linea_ir_teoria</title></head>
<body><h1>Ejercicio Siguelínea Infrarrojos</h1>
<p>En este ejercicio deberás programar nuestro robot <strong>PiBot</strong> para que sea capaz de seguir una línea negra pintada sobre un suelo blanco. El PiBot debe ser programado de forma que utilice sus <em>sensores</em> para obtener información del entorno continuamente, y sus <em>actuadores</em> para ejecutar las acciones necesarias para poder ir siguiendo el trazado de la línea de acuerdo a la información obtenida por los sensores.</p>
<p>En una primera fase programarás el PiBot simulado en un mundo 3D, para poder ensayar haciendo cambios a tu programa hasta que consigas que siga el trazado de la línea con facilidad. Tras completar con éxito la primera fase, estarás listo para probar tu programa en el robot PiBot real !!!</p>
<h2>Sensores del PiBot a utilizar</h2>
<p>Vamos a usar los 2 sensores de Infrarrojos (abreviado IR) que tiene el PiBot en su parte frontal apuntando al suelo, uno en la parte izquierda y otro en la parte derecha. Estos sensores son capaces de detectar si el suelo es oscuro (negro) o claro (blanco) por medio de la emisión/detección de rayos infrarrojos. Para ello, en el programa debes llamar a siguiente función:</p>
<figure><table>
<thead>
<tr><th>Función</th><th>Descripción</th></tr></thead>
<tbody><tr><td><strong>leerIRSigueLineas()</strong></td><td>Lee los dos sensores de IR y nos devuelve un valor entre 0 y 3</td></tr></tbody>
</table></figure>
<p>El valor entre 0 y 3 que devuelve la función depende de las lecturas de los dos sensores de IR, de acuerdo a la siguiente tabla:</p>
<figure><table>
<thead>
<tr><th>lectura IR izquierdo</th><th>lectura IR derecho</th><th>valor de leerIRSigueLineas()</th></tr></thead>
<tbody><tr><td>negro</td><td>negro</td><td>0</td></tr><tr><td>negro</td><td>blanco</td><td>1</td></tr><tr><td>blanco</td><td>negro</td><td>2</td></tr><tr><td>blanco</td><td>blanco</td><td>3</td></tr></tbody>
</table></figure>
<p>Estos cuatro valores que nos devuelve la función <code>leerIRSigueLineas()</code> se corresponden con las siguientes situaciones del PiBot con respecto a la línea negra:</p>
<figure><table>
<thead>
<tr><th>valor = 0</th><th>valor = 1</th><th>valor = 2</th><th>valor = 3</th></tr></thead>
<tbody><tr><td><img src="{% static 'python/sigue_linea_ir/img/sigue_linea_ir_cero.png' %}"></td><td><img src="{% static 'python/sigue_linea_ir/img/sigue_linea_ir_uno.png' %}"></td><td><img src="{% static 'python/sigue_linea_ir/img/sigue_linea_ir_dos.png' %}"></td><td><img src="{% static 'python/sigue_linea_ir/img/sigue_linea_ir_tres.png' %}"></td></tr></tbody>
</table></figure>
<h2>Actuadores del PiBot a utilizar</h2>
<p>Vamos a usar los motores que incorpora el PiBot (uno en cada rueda motriz) para hacer que se mueva según nuestras necesidades. Para ello, en el programa debes llamar a las siguientes funciones:</p>
<figure><table>
<thead>
<tr><th>Función</th><th>Descripción</th></tr></thead>
<tbody><tr><td><strong>avanzar(<code>v</code>)</strong></td><td>Hace que el PiBot avance en línea recta con una velocidad lineal igual a <code>v</code> expresada en metros/segundo</td></tr><tr><td><strong>retroceder(<code>v</code>)</strong></td><td>Hace que el PiBot retroceda en línea recta con una velocidad lineal igual a <code>v</code> expresada en metros/segundo</td></tr><tr><td><strong>girarIzquierda(<code>w</code>)</strong></td><td>Hace que el PiBot gire a la izquierda sobre su eje (sin avanzar) con una velocidad angular igual a <code>w</code> expresada en radianes/segundo</td></tr><tr><td><strong>girarDerecha(<code>w</code>)</strong></td><td>Hace que el PiBot gire a la derecha sobre su eje (sin avanzar) con una velocidad angular igual a <code>w</code> expresada en radianes/segundo</td></tr></tbody>
</table></figure>
<p><strong>NOTA:</strong> Recordamos que $2\pi$ radianes equivalen a 360 grados.</p>
<p>Estas funciones se corresponden con los siguientes comportamientos del PiBot:</p>
<figure><table>
<thead>
<tr><th>avanzar</th><th>retroceder</th><th>girarIzquierda</th><th>girarDerecha</th></tr></thead>
<tbody><tr><td><img src="{% static 'python/sigue_linea_ir/img/sigue_linea_ir_avanzar.png' %}"></td><td><img src="{% static 'python/sigue_linea_ir/img//sigue_linea_ir_retroceder.png' %}"></td><td><img src="{% static 'python/sigue_linea_ir/img//sigue_linea_ir_girar_izquierda.png' %}"></td><td><img src="{% static 'python/sigue_linea_ir/img//sigue_linea_ir_girar_derecha.png' %}"></td></tr></tbody>
</table></figure>
<p>Disponemos también de una última función, no por ello menos importante:</p>
<figure><table>
<thead>
<tr><th>Función</th><th>Descripción</th></tr></thead>
<tbody><tr><td><strong>parar()</strong></td><td>Hace que el PiBot se detenga (si estaba avanzando, retrocediendo o girando)</td></tr></tbody>
</table></figure>
<h2>Pistas para resolver el ejercicio</h2>
<ul>
<li>Debes hacer que tu programa capture la información de los sensores y, en función de esa información, realizar acciones utilizando los actuadores para que el PiBot se comporte de la forma deseada</li>
<li>El punto anterior no debe hacerse una sola vez, sino de forma continua (varias veces por segundo) para que el piBot pueda ir siguiendo el trazado de la línea negra</li>
<li>Cuando el piBot reciba una orden de avanzar, retroceder o girar, continuará ejecutando dicha orden hasta que reciba otra orden (si la orden es la misma, continuará haciendo lo mismo que estaba haciendo)</li>

</ul>
<h2>¿Puedes conseguir que el PiBot siga la línea negra? Inténtalo, es divertido!</h2>
</body>
</html>
